{% extends 'base.html' %}

{% block title %}
{{ team.name }}
{% endblock %}

{% block content %}

<h2>{{ team.name }}</h2>

<p>
    <strong>کاپیتان:</strong>
    {{ team.captain.username }}
</p>
{% if user == team.captain %}

<a href="{% url 'manage_team_members' team.id %}">
مدیریت اعضای تیم
</a>

{% endif %}

<p>
    <strong>امتیاز تیم:</strong>
    {{ points }}
</p>

<hr>

<h3>آمار تیم</h3>

<p>
    <strong>تعداد مسابقات:</strong>
    {{ played }}
</p>

<p>
    <strong>برد:</strong>
    {{ wins }}
</p>

<p>
    <strong>مساوی:</strong>
    {{ draws }}
</p>

<p>
    <strong>باخت:</strong>
    {{ losses }}
</p>

<hr>
<p>
    <strong>فرم تیم:</strong>

    {% for result in form %}
        {{ result }}
    {% empty %}
        هنوز مسابقه‌ای انجام نشده است.
    {% endfor %}
</p>
<hr>

<h3>اعضای تیم</h3>

<ul>
    {% for member in members %}
        <li>
            {{ member.user.username }}
            -
            امتیاز فردی:
            {{ member.individual_score }}
        </li>
    {% endfor %}
</ul>

{% endblock %}