{% extends 'base.html' %}

{% block content %}

<h2>
رتبه‌بندی {{ tournament.name }}
</h2>

<table border="1">

<tr>
    <th>رتبه</th>
    <th>تیم</th>
    <th>امتیاز</th>
    <th>برد</th>
    <th>مساوی</th>
    <th>باخت</th>
    <th>تفاضل</th>
</tr>

{% for row in table %}

<tr>

<td>
{{ forloop.counter }}
</td>

<td>
{{ row.team.name }}
</td>

<td>
{{ row.points }}
</td>

<td>
{{ row.wins }}
</td>

<td>
{{ row.draws }}
</td>

<td>
{{ row.losses }}
</td>

<td>
{{ row.score_difference }}
</td>

</tr>

{% endfor %}

</table>

{% endblock %}
